<div class="recipe-container">
  <button class ="add-recipe-btn">Add a new recipe</button>
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
     <div class="recipe-header">
       <h2><%=recipe.name%></h2>
        <button>Delete</button>
      </div>
     <p class="recipe-description"><%=recipe.description%></p>
   </div>
<%end%>
</div>