<h1 class="show-recipe-header"><%= @recipe.name%></h1>
<section class="recipe-single-info">
  <ul class="info-listing-container">
    <li>Preparation time: <%=@recipe.prep_time%> hour </li>
    <li>Cooking time: <%=@recipe.prep_time%> hour </li>
    <% if @recipe.public %>
    <li class ="pub-recipe"><span class="is-public">Public</span></li>
    <% else %>
    <li class ="pub-recipe"><span class="not-public">Public</span></li>
    <% end %>
  </ul>
</section>

<section class="recipe-single-description">
  <p><%=@recipe.description%></p>
</section>

<section class="food-section">
  <div class="adding-btns">
    <button>Generate shopping list</button>
    <button>Add ingredient</button>
  </div>  

<table class="foodtable">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>