.show-recipe-header {
  text-align: center;
}

.recipe-single-info {
  width: 100%;
}

.info-listing-container {
  list-style-type: none;
  width: 90%;
  height: 140px;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 0;
}

.info-listing-container > li:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.info-listing-container > li:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.pub-recipe {
  grid-area: 1 / 5 / 2 / 6;
}

.is-public,
.not-public {
  padding: 4px;
  border-radius: 8px;
  color: white;
}

.is-public {
  background-color: rgb(20, 150, 59);
}

.not-public {
  background-color: rgb(199, 18, 18);
}

.recipe-single-description > p {
  margin: 0 0 0 40px;
  font-size: 1.5rem;
}

.food-section {
  margin: 25px 40px 0 40px;
}

.adding-btns {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  padding: 15px 0;
}

.adding-btns > button {
  padding: 1.5% 2%;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: wheat;
}

table.foodtable {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid black;
}

table.foodtable td,
table.foodtable th {
  padding: 3px;
  border-left: 2px solid black;
}

table.foodtable th {
  border: 2px solid black;
  height: 50px;
  width: 25%;
  color: white;
  background-color: #6b6b6bb6;
}

table.foodtable td {
  height: 110px;
}

table.foodtable tr:nth-child(2n+1) {
  background-color: #b6b6b6;
}

/* modal */

.fixed-modal-container {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 50%;
}

.main-modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 8px;
  background-color: rgb(218, 218, 218);
}

.closing-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  height: 25px;
  width: 25px;
  background-color: rgb(109, 14, 14);
  cursor: pointer;
  color: white;
  border-radius: 50%;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
  overflow: hidden;
}

.open {
  display: block;
}

.close {
  display: none;
}
